{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Flashcards</title>
  </head>

  <body>
    {% if user.is_authenticated %}
    <header class="page-header">
      <div class="username">Hello, {{request.user.username}}</div>
      <div class="logout"><a href="/accounts/logout">Logout</a></div>
      <div class="new_button">
        {% else %}
        <div class="register"><a href="/accounts/register">New User</a></div>
        <div class="login"><a href="/accounts/login">Login</a></div>
        {% endif %}
      </div>
    </header>

    <h1><a href="/">Flashcards!</a></h1>
    <main class="container">
      <div class="row">
        <div class="col">{% block content %} {% endblock %}</div>
      </div>
    </main>
  </body>
</html>
