{% extends 'base.html' %} 
{% block content %}

{% if user.is_authenticated %}
<div class="new_category_button">
  <p class="text">Add New Category</p>
  <a href="{% url 'categories_new' %}" class="btn btn-secondary">
    {% include './icons/box2-fill.svg' %}
  </a>
</div>
{% endif %}

<div class="categories_page">Please Pick a Category:</div>
<ul class="categories_list">
{% for category in categories %}
  <a class="categories_list_box" href="{% url 'categories_detail' pk=category.pk %}">{{ category }}</a>
  {% endfor %}
</ul>

{% endblock %}
