{% extends 'base.html' %} {% block content %}

<aside class="actions">
  {% if user.is_authenticated %}
  <form
    class="inline"
    action="{% url 'category_remove' pk=category.pk %}"
    method="post"
  >
    {% csrf_token %}
    <a
      class="btn btn-secondary"
      href="{% url 'categories_edit' pk=category.pk %}"
    >Edit
      {% include './icons/pencil-square.svg' %}
    </a>

    <input
      class="btn btn-danger"
      href="{% url 'category_remove' pk=category.pk %}"
      type="submit"
      value="Delete"
      onclick="return confirm('Confirm, Delete.');"
    />
  </form>
</aside>
{% endif %}

<div class="categories_detail_header">Category: {{ category.category }}</div>
<div class="flashcard_list_header">Flashcards:</div>
  <ul class="flashcard_list">
    {% for flashcard in flashcards %}
    <a class="flashcard_list_box" href="{% url 'flashcard_detail' pk=flashcard.pk %}">{{ flashcard.question }}</a>
    {% endfor %}
  </ul>
{% endblock %}
